.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.list-of-todos {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.btn {
  margin: 5px;
}

.todo {
  margin: 10px;
}

.todo-input {
  margin: 10px;
}

.completed {
  text-decoration: line-through;
}
